body{
  background-color:#100f0f;
}

.gradientline{
  background: linear-gradient(to right, #3b82f6, #9333ea);
}


.slick-dots {
  position: absolute !important;
  bottom: -40px !important;
}
/* Custom styles for Slick Slider dots */
.slick-dots li button:before {
  color: rgba(255, 255, 255, 0.737) !important;
  font-size: 9px !important;
}

.slick-dots li.slick-active button:before {
  color: rgb(255, 255, 255) !important; /* Ensure active dot is also white */
}

@media (min-width: 670px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 25px !important;
  }
}

@media (max-width: 480px) {
  .slick-dots {
    display: none !important;
  }

  .slick-next {
    right: 10px !important;
  }
  .slick-prev {

    left: 10px !important;
  }
}

body {
  --sb-track-color: #d5dee2;
  --sb-thumb-color: rgb(147 51 234);
  --sb-size: 9px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
